In [1]:
import pandas as pd

read_file = pd.read_csv (r'influencers.txt')
read_file.to_csv (r'data.csv', index=None)

In [2]:
df = pd.read_csv('data.csv', delimiter = '\t')
df = df.iloc[1:]
df

                Username Category  #Followers  #Followees  #Posts
1            makeupbynvs   beauty      1432.0      1089.0   363.0
2      jaquelinevandoski   beauty    137600.0       548.0   569.0
3          anisaartistry   beauty     64644.0       289.0   391.0
4      rubina_muartistry   beauty    496406.0       742.0   887.0
5            beautyxabbi   beauty      2050.0      1423.0   751.0
...                  ...      ...         ...         ...     ...
33931         alingzhang    other      4597.0       881.0   365.0
33932        flower.jini    other     27093.0      1599.0   664.0
33933     ester_starling    other     20621.0        23.0   783.0
33934       lovely___yul    other     12381.0       811.0   223.0
33935          sara_agos    other      1277.0       790.0   311.0

[33935 rows x 5 columns]

In [3]:
df.Category.unique()

array(['beauty', 'family', 'fashion', 'fasion', 'fashion 0.5', 'fitness',
       'food', 'interior', 'pet', 'travel', 'other'], dtype=object)

In [4]:
df.loc[df['Category'] == 'fasion', 'Category'] = 'fashion'
df.loc[df['Category'] == 'fashion 0.5', 'Category'] = 'fashion'

In [5]:
df.Category.unique()

array(['beauty', 'family', 'fashion', 'fitness', 'food', 'interior',
       'pet', 'travel', 'other'], dtype=object)

In [6]:
beautyUN=list(df['Username'][df['Category'] == 'beauty'])
familyUN=list(df['Username'][df['Category'] == 'family'])
fashionUN=list(df['Username'][df['Category'] == 'fashion'])
fitnessUN=list(df['Username'][df['Category'] == 'fitness'])
foodUN=list(df['Username'][df['Category'] == 'food'])
interiorUN=list(df['Username'][df['Category'] == 'interior'])
petUN=list(df['Username'][df['Category'] == 'pet'])
travelUN=list(df['Username'][df['Category'] == 'travel'])
otherUN=list(df['Username'][df['Category'] == 'other'])